<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFillter</filter-name>
        <filter-class>tinlt.fillter.AuthFillter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFillter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>tinlt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>tinlt.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>tinlt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>tinlt.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuesController</servlet-name>
        <servlet-class>tinlt.controllers.CreateQuesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>tinlt.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>tinlt.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuesController</servlet-name>
        <servlet-class>tinlt.controllers.UpdateQuesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByStatusController</servlet-name>
        <servlet-class>tinlt.controllers.SearchByStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameController</servlet-name>
        <servlet-class>tinlt.controllers.SearchNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizController</servlet-name>
        <servlet-class>tinlt.controllers.TakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizController</servlet-name>
        <servlet-class>tinlt.controllers.CreateQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizController</servlet-name>
        <servlet-class>tinlt.controllers.SubmitQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>tinlt.controllers.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HisDetailController</servlet-name>
        <servlet-class>tinlt.controllers.HisDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuesController</servlet-name>
        <url-pattern>/CreateQuesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuesController</servlet-name>
        <url-pattern>/UpdateQuesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByStatusController</servlet-name>
        <url-pattern>/SearchByStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameController</servlet-name>
        <url-pattern>/SearchNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizController</servlet-name>
        <url-pattern>/TakeQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizController</servlet-name>
        <url-pattern>/CreateQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizController</servlet-name>
        <url-pattern>/SubmitQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HisDetailController</servlet-name>
        <url-pattern>/HisDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
